body {
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
p,
ul,
div,
a,
li,
button {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 46, 46);
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-decoration: none;
  list-style: none;
}

header ul {
  align-items: center;
  justify-content: flex-start;
}

header li {
  margin-left: 80px;
}

header a {
  text-decoration: none;
  color: #fff;
}

#links {
  width: 30%;
  margin-left: auto;
}

#date-time {
  width: 98%;
  color: #000;
  margin-top: 80px;
  justify-content: flex-end;
}

main {
  width: 70%;
  margin: 150px auto;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 90%;
  margin: 15px;
  height: 30px;
  padding: 3px;
  border: 2px solid rgb(61, 60, 60);
}

#addBtn {
  width: 100px;
  margin-left: auto;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 5px 5px rgb(61, 60, 60);
}

.row-odd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}

.row-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  height: 40px;
  background-color: rgb(172, 172, 172);
}

.remove {
  height: 25px;
  width: 70px;
}

#bookList {
  margin: 50px 0;
  border: 2px solid rgb(61, 60, 60);
}

#addBooks {
  margin-top: 35px;
}

#newBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  text-align: left;
  color: #fff;
  background-color: rgb(71, 71, 71);
}
